{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="google-signin-client_id" content="632246741161-gh0qkdvu8l084l5v7im4i9r5rsifb5k1.apps.googleusercontent.com">

    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'css/library.css' %}" />

    <title>
        {% block title %} Story 09 - Books {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Celestial Library</span>
            <div class="signout">
                <button><a href="{% url 'logout' %}" onclick="signOut()">Sign out</a></button>
            </div>
        </nav>
    </header>
    <content>
            {% block content %}
            <div class="container">
                <br>
                <blockquote cite="">
                    <h2 style="text-align:center">"I do believe something very magical can happen when you read a good book" - J.K. Rowling</h2>
                </blockquote>
                <br>
                <h1> Welcome {{ nama }} ! Start reading now!</h1>
                <br>
                <button id="sleeping">Sleeping</button>
                <button id="walking">Walking</button> 
                <button id="quilting">Quilting</button>
                
            </div>
            <section name="books-list" id="books-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <br>
                            <h2>Recommended Books</h2>
                            <table class="table">
                                    <thead>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Date Published</th>
                                        <th>Favorites</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                            </table>
                            <br>
                            
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <br>
                        <h3> Favorite Book(s)</h3>
                        <span class="count">{{count}}</span>
                    <div id="book-list">
                    </div>
                </div>
            </section>       
            {% endblock %}
    </content>
    <footer>
        <div class="footer navbar-dark bg-dark">
            <p style="text-align:center; color: white;">©Copyright</p>
        </div>
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/library.js' %}"></script>
    <script src="{% static 'js/google.js' %}"></script>
</body>
</html>
